<!-- ======= Header/ Navbar ======= -->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="https://api.whatsapp.com/send?phone=923404355019">Muhammad Luqman</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#about">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#service">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#work">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="https://api.whatsapp.com/send?phone=923404355019">Contact me</a>
                </li>
                <li class="nav-item">
                  
                    <a class="btn btn-primary nav-link text-white" href="../../../assets/data/MuhammadLuqman-Resume.docx_1.pdf" download>Download CV</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
