<!-- ======= Intro Section ======= -->
<div id="home" class="intro route bg-image" style="background-image: url(assets/img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">I am Muhammad Luqman</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Web Developer,Web
                        Designer,Frontend Developer, Backend Developer , Android App developer </span><strong class="text-slider"></strong></p>
            </div>
        </div>
    </div>
</div><!-- End Intro Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngFor="let person of _service.profile" class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img class="img-fluid rounded b-shadow-a"
                                                src="../../../assets/img/Luqman.jpeg" alt="">
                                            <!-- <img [src]="person.url" class="img-fluid rounded b-shadow-a"
                                                alt=""> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>Muhammad Luqman</span></p>
                                            <p><span class="title-s">Profile: </span> <span>Full Stack Web Developer
                                                    (MEAN And MERN)</span>
                                            </p>
                                            <p><span class="title-s">Email: </span><a style="cursor: pointer;"
                                                    class="navbar-link active"><span>luqman.dagai&#64;gmail.com</span></a>
                                            </p>
                                            <p><span class="title-s">Phone: </span> <span>+923404355019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skills</p>
                                    <p><span class="title-s">HTML5:</span> <span>Hypertext Markup Language for
                                            structuring web content</span></p>
                                    <p><span class="title-s">CSS3:</span> <span>Cascading Style Sheets for designing
                                            responsive and visually appealing layouts</span></p>
                                    <p><span class="title-s">Bootstrap:</span> <span>Feature-packed frontend framework
                                            for building responsive web designs</span></p>
                                    <p><span class="title-s">JavaScript:</span> <span>Dynamic programming language for
                                            interactive web development</span></p>
                                    <p><span class="title-s">Angular:</span> <span>Powerful framework for building
                                            scalable and performant single-page applications (SPAs)</span></p>
                                    <p><span class="title-s">React:</span> <span>Efficient library for building
                                            interactive user interfaces and SPAs</span></p>
                                    <p><span class="title-s">Node.js:</span> <span>Server-side JavaScript runtime for
                                            building scalable backend services</span></p>
                                    <p><span class="title-s">Ionic:</span> <span>Hybrid mobile app framework for
                                            developing cross-platform apps, especially Android</span></p>
                                    <p><span class="title-s">MongoDB:</span> <span>NoSQL database for managing
                                            large-scale data storage</span></p>
                                    <p><span class="title-s">Express.js:</span> <span>Web application framework for
                                            Node.js to build robust APIs</span></p>
                                    <p><span class="title-s">DevOps:</span> <span>Practices for automating software
                                            deployment, integration, and maintenance</span></p>
                                    <p><span class="title-s">Google Play Store:</span> <span>Experience in publishing
                                            and managing mobile applications</span></p>



                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        My name is Muhammad Luqman, a seasoned Full-Stack Developer from Pakistan with over 3+ years of experience. I specialize in both the MEAN (MongoDB, Express.js, Angular, Node.js) and MERN (MongoDB, Express.js, React, Node.js) stacks. My expertise spans across both frontend and backend development, with a strong commitment to delivering high-quality and scalable software solutions.
                                    </p>                                    
                                    <p class="lead">
                                        In addition to my expertise in web development, I also have experience in mobile
                                        development using Ionic for Android. I have successfully published apps on the
                                        Google Play Store, showcasing my ability to bring software projects from concept
                                        to deployment. My DevOps skills further enable me to manage the software
                                        development lifecycle efficiently, ensuring seamless integration, continuous
                                        deployment, and maintaining high-quality code.
                                    </p>
                                    <p class="lead">
                                        I am deeply committed to continuous self-learning, leveraging a wide range of
                                        technological tools that drive the transformation and growth of the digital
                                        world. My focus is on creating performant single-page applications (SPAs) and
                                        scalable software solutions, while continually expanding my knowledge of various
                                        libraries, frameworks, and development practices.
                                    </p>
                                </div>
                                <p class="lead">
                                    You can check out my projects on my <a href="https://gitlab.com/Luqmanyousafzai"
                                        target="_blank"><strong>GitLab profile</strong> </a>.
                                </p>
                                <div class="gitlab">
                                    <a href="https://gitlab.com/Luqmanyousafzai"> <img
                                            src="../../../assets/img/GitLab-funded-by-Google-may-be-up-for-sale-sources-say-scaled-e1721285744410.jpg"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main>



<!-- <h1></h1> -->