/*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/

iframe {
    border-style: none;
}

.intro {
    height: 100vh;
    position: relative;
    color: #fff;
}

.intro .intro-content {
    text-align: center;
    position: absolute;
}

.intro .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}

.intro .intro-title {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .intro .intro-title {
        font-size: 4.5rem;
    }
}

.intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

@media (min-width: 768px) {
    .intro .intro-subtitle {
        font-size: 2.5rem;
    }
}

.intro .text-slider-items {
    display: none;
}

.intro-single {
    height: 350px;
}

.intro-single .intro-content {
    margin-top: 30px;
}

.intro-single .intro-title {
    text-transform: uppercase;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .intro-single .intro-title {
        font-size: 3.5rem;
    }
}

.intro-single .breadcrumb {
    background-color: transparent;
    color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
    color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
    color: #cde1f8;
}

.intro-single .breadcrumb a {
    color: #fff;
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/

.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
}

.about-mf .about-img {
    margin-bottom: 2rem;
}

.about-mf .about-img img {
    margin-left: 10px;
}

@media (min-width: 767px) {
    .about-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

.skill-mf span {
    color: #4e4e4e;
}

.skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
}

.skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #0078ff;
}
.gitlab{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #6f757b, #324145);
    border-radius: 10px;
}
.gitlab:hover{
    cursor: pointer;
 background: linear-gradient(to right, #aaaeb3, #afb2b3);


}
.gitlab img {
    max-width: 100%;
    width: 80%;
    /* border-radius: 10%; */
    height: 200px;
}