<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="socials text-center">
                    <ul>
                      <li><a href="https://api.whatsapp.com/send?phone=923404355019" target="_blank"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href="https://api.whatsapp.com/send?phone=923404355019" target="_blank"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://api.whatsapp.com/send?phone=923404355019" target="_blank"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href="https://api.whatsapp.com/send?phone=923404355019" target="_blank"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                    </ul>
                  </div>
                <div class="copyright-box">
                    <p class="copyright">&copy; {{ year }} Copyright <strong>luqmanDeveloper</strong>. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <a href="https://api.whatsapp.com/send?phone=923404355019">Muhammad Luqman</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->
